<header>
    <title> RailsFlood | High Scores </title>
    <%= render 'layouts/navbar' %>
</header>

<body>
    <div class="content-box">
    <br />
        <div align='center'>
            <h1 class="title">
                High Scores!
            </h1>
        <div class="scores-grid mt2">
        <% @scores.each do |hs| %>
            <p class="score-item"> <%= hs.name %> </p>
            <p class="score-item"> <%= hs.score %> </p>
        <% end %>
        </div>
    </div>
</div>
