<header>
    <title> RailsFlood | Home </title>
    <%= render 'layouts/navbar' %>
</header>

<body>
    <div class="content-box">
        <div class="flex-col"> 
            <h1 class="flex-item-padded center title">
                Welcome to Flood on Rails:
            </h1>
            <h2 class="cetner subtitle tight">
                Classic FloodIt built on a rails framework!
            </h2>
            
        </div>
        <div class="flex-col">
            <div class="no-stretch center mt2">
                <%= image_tag("FloodRails.png", :alt => "Flood It On Rails") %>
            </div>
            <h3 class="flex-item subsubtitle">
                Rules of FloodIt:
            </h3>
            <p class="flex-item text">
                FloodIt is a pretty simple game!
                The goal of FloodIt is to make the entire board one color in as few moves as possible.
                Your 'flood' always starts in the top left-hand corner of the board, and expands from there. 
                Each turn, you can click on any tile in the board (except the current color of your 'flood').
                The flood will spread to the any tile currently adjacent to it (any part of it) that is the same color as the tile you selected.
                Happy playing! 
            </p>
        </div>
    </div>
</body>