<header>
    <title> RailsFlood | Home </title>
    <nav class="navbar navbar-expand-lg bg-dark">
        <a class="navbar-brand" href="/">Flood on Rails!</a>
        <ul class="nav-container">
            <li class="nav-item flex-item tight">
                <%= link_to controller: 'landing_page' do %>
                    <div class="btn-quiet nav-link">
                        <i class="fas fa-home"></i> Home
                    </div>
                <% end %>
            </li>
            <li class="nav-item flex-item tight">
                <%= link_to controller: 'game' do %>
                    <div class="nav-link">
                        <i class="fas fa-th"></i> FloodIt!
                    </div>
                <% end %>
            </li>
            <li class="nav-item flex-item tight">
                <%= link_to controller: 'computer_game' do %>
                    <div class="nav-link">
                        <i class="fas fa-desktop"></i> Play Computer
                    </div>
                <% end %>
            </li>
            <li class="nav-item flex-item tight">
                <%= link_to controller: 'high_scores' do %>
                    <div class="nav-link">
                         <i class="fas fa-crown"></i> High Scores
                    </div>
                <% end %>
            </li>
        </ul>
    </nav>
</header>

<body>
    <div class="content-box">
        <div class="flex-col"> 
            <h1 class="flex-item-padded center title">
                Welcome to Flood on Rails:
            </h1>
            <h2 class="flex-item-padded cetner subtitle">
                Classic FloodIt built on a rails framework!
            </h2>
            
        </div>
        <div class="flex-col">
            <h3 class="flex-item subsubtitle">
                Rules of FloodIt:
            </h3>
            <p class="flex-item text">
                FloodIt is a pretty simple game!
                The goal of FloodIt is to make the entire board one color in as few moves as possible.
                Your 'flood' always starts in the top left-hand corner of the board, and expands from there. 
                Each turn, you can click on any tile in the board (except the current color of your 'flood').
                The flood will spread to the any tile currently adjacent to it (any part of it) that is the same color as the tile you selected.
                Happy playing! 
            </p>
        </div>
    </div>
</body>