<header>
    <title> RailsFlood | Saved Games </title>
    <%= render 'layouts/navbar' %>
</header>

<body>
    <div class="content-box">
    <br />
        <div align='center'>
            <h1 class="title">
                Saved Games
            </h1>
        <div class="scores-grid mt2">
        </div>
    </div>
</div>