// Place all the styles related to the computer_game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex-container {
	padding: 0;
	margin: 0;
	list-style: none;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	justify-content: center;
}

.game-grid-comp {
	display: grid;
	grid-template-columns: repeat(10, 3.7vw);
	grid-template-rows: repeat(10, 3.7vw);
	grid-row-gap: 0px;
	grid-column-gap: 0px;

	justify-content: center;

	outline-width: 5px;
	outline-color: #256599;
	outline-style: groove;

	width: 37vw;
	height: 37vw;
	margin: 0 auto;
}

.flex-item-padded {
	padding: 10px;
	margin: 10px;
	line-height: 15px;
	font-weight: bold;
	text-align: center;
}

.flex-item-board {
	padding: 0px;
	margin: 0px;
}

.flex-item-comp {
	margin: 20px;
}

.no-show {
	border: none !important;
	outline: none !important;
	color: transparent;
}

.board-tile {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

div.btn-group {
	margin: 0 auto;
	margin-top: 2vh;
	text-align: center;
	width: inherit;
	display: inline-flex;
	justify-content: center;
}

.btn-format {
	display: inline-flex;
	height: 8vh;
	vertical-align: middle;
	font-size: 1.25rem;
}

.full-size {
	width: 100%;
	height: 100%;
	padding: 0%;
	margin: 0%;
}

.no-back {
	background-color: transparent;
	outline: none;
	border: none;
}

.mt2 {
	margin-top: 5%;
}

.btn-text {
	font-size: 1.25rem;
	color: white;
	margin: 0 auto;
	vertical-align: middle;
	padding: 0%;
}

.vertical-center {
	vertical-align: middle;
}

h2,
h4 {
	text-align: center;
}
