// Place all the styles related to the landing_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
	color: #fecb00;
	font-size: 2rem;
}

.subtitle {
	color: #e6a700;
	font-size: 1.5rem;
	margin-left: 1.5%;
}

.subsubtitle {
	color: #c8cfd9;
	font-size: 1.25rem;
	margin-left: 3%;
}

.text {
	color: #ffe190;
	font-size: 1rem;
	margin-left: 6%;
}

.flex-col {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-left: 10%;
	justify-content: center;
}

.center {
	justify-content: center;
	text-align: center;
	margin-left: 0px;
	margin-bottom: 5vh;
}

.flex-item {
	margin-top: 2vh;

	.left {
		justify-content: left;
		margin-left: 5vw;
	}
}
